:root {
	--bg: #fbfbfb;
	--white: #fff;
	--dark-blue: #000a52;
	--blue: #0041a2;
	--light-blue: #e0e6ee;
	--error: rgba(171, 0, 0, 1);
	--header-gradient: linear-gradient(
		180deg,
		rgba(49, 45, 43, 0.8) 0%,
		rgba(49, 45, 43, 0) 100%
	);
}
